In [48]:
import pandas as pd

In [49]:
restaurants_by_state = pd.read_csv("C:/Users/Josh Busser/UofA Summer Bootcamp/Project 2/FastFoodRestaurants.csv")

In [50]:
restaurants_by_state.head()

,address,city,country,keys,latitude,longitude,name,postalCode,province,websites
0,324 Main St,Massena,US,us/ny/massena/324mainst/-1161002137,44.92130,-74.89021,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
1,530 Clinton Ave,Washington Court House,US,us/oh/washingtoncourthouse/530clintonave/-7914...,39.53255,-83.44526,Wendy's,43160,OH,http://www.wendys.com
2,408 Market Square Dr,Maysville,US,us/ky/maysville/408marketsquaredr/1051460804,38.62736,-83.79141,Frisch's Big Boy,41056,KY,"http://www.frischs.com,https://www.frischs.com..."
3,6098 State Highway 37,Massena,US,us/ny/massena/6098statehighway37/-1161002137,44.95008,-74.84553,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
4,139 Columbus Rd,Athens,US,us/oh/athens/139columbusrd/990890980,39.35155,-82.09728,OMG! Rotisserie,45701,OH,"http://www.omgrotisserie.com,http://omgrotisse..."

In [75]:
restaurant_data = restaurants_by_state[['province', 'name']]
restaurant_data.sort_values('province')

restaurant_data.head()

  province              name
0       NY        McDonald's
1       OH           Wendy's
2       KY  Frisch's Big Boy
3       NY        McDonald's
4       OH   OMG! Rotisserie

In [52]:
restaurant_data.head()

  province              name
0       NY        McDonald's
1       OH           Wendy's
2       KY  Frisch's Big Boy
3       NY        McDonald's
4       OH   OMG! Rotisserie

In [76]:
rest_count_df = restaurant_data['province'].value_counts()
rest_count_df.head()

CA    676
TX    634
OH    543
FL    471
IN    379
Name: province, dtype: int64

In [79]:
rest_names = restaurant_data['name'].value_counts()
rest_names.head()

McDonald's     1886
Burger King    1154
Taco Bell       873
Wendy's         731
Arby's          518
Name: name, dtype: int64

In [80]:
rest_count.to_csv("C:/Users/Josh Busser/UofA Summer Bootcamp/Project 2/Fast_food.csv")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [81]:
count_rest = pd.read_csv("C:/Users/Josh Busser/UofA Summer Bootcamp/Project 2/Fast_food.csv",names = ['State','Count'])

count_rest.head()

  State  Count
0    CA    676
1    TX    634
2    OH    543
3    FL    471
4    IN    379

In [82]:
count_rest = count_rest[count_rest.State !='DC']

In [84]:
count_rest = count_rest[count_rest.State !='Co Spgs']
count_rest.head()

  State  Count
0    CA    676
1    TX    634
2    OH    543
3    FL    471
4    IN    379

In [ ]:
count_rest.to_csv("C:/Users/Josh Busser/UofA Summer Bootcamp/Project 2/Fastfood_State.csv")